body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.game {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.background {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
#seat {
    width: 8%;
    height: auto;
    position: absolute;
    z-index:1;
    top: 43%;
    left: 85%;
}

#hero {
    position: absolute;
    left: 20%;
    top: 43%;
    width: 6%;
    z-index: 2;
    height: auto;
    transition: left 0.2s linear, top 0.2s linear, transform 0.2s linear;

}
.tooltip {
    position: fixed;
    left: 20px;
    bottom: 20px;
    max-width: 45%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    display: none;
    z-index: 1000;
}

.show-tooltip-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 12px 20px;
    background: linear-gradient(145deg, #007bff, #0056b3);
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1), -4px -4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}
.show-tooltip-btn:hover {
    background: linear-gradient(145deg, #0056b3, #007bff);
    transform: translateY(-4px);
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.15);
}
.show-tooltip-btn:active {
    transform: translateY(2px);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
.show-task-tooltip-btn {
    top: 2%;
    left: 20%;
    width: 15%;
    height: 4.5%;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup.hidden {
    display: none;
}

.popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.popup-content h1 {
    margin: 0 0 10px;
    font-size: 24px;
}

.popup-content button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.popup-content button:hover {
    background-color: #45a049;
}

.obstacle {
    position: absolute;
    width: 125px;
    height: auto;
}

.health-bar {
    position: absolute;
    top: 2%;
    right: 2%;
    width: 15%;
    border-radius: 12px;
    border: 2px solid #333;
    background: linear-gradient(to bottom, #ddd, #bbb);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    z-index: 10;
}

.health {
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, #4caf50, #76c880);
    border-radius: 10px 0 0 10px;
    transition: width 0.3s ease;
}